/* footer design */
footer {
    background: #000000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
}

.row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    text-align: center;
}

.footer .row a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #ababab;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/* Footer ends*/
/* home banner design */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner-text-container h2,
.banner-text-container h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.banner-text-container h3 {
    font-size: 30px;
}

.banner-image-container {
    width: 100%;
}

.banner-image {
    max-width: 100%;
    display: none;
}

@media (min-width:720px) {
    .banner-container {
        flex-wrap: nowrap;
    }

    .banner-text-container {
        text-align: left !important;
    }

    .banner-text-container h2 {
        font-size: 35px;
    }

    .banner-text-container h3 {
        font-size: 25px;
    }

    .banner-image-container {
        width: 60%;
    }

    .banner-image {
        display: block;
    }
}


/* form design */
.form-holder {
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: left !important;
}